### /Users/daniel/.gitignore-boilerplates/Global/SublimeText.gitignore

# SublimeText project files
*.sublime-workspace


### /Users/daniel/.gitignore-boilerplates/Global/OSX.gitignore

.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


### /Users/daniel/.gitignore-boilerplates/Node.gitignore

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

### /Users/daniel/.gitignore-boilerplates/Global/Linux.gitignore

.*
!.gitignore
*~


